@keyframes swing {
  0%, 100% {
    transform: rotate3d(0, 0, 1, 0deg); }
  20% {
    transform: rotate3d(0, 0, 1, 9deg); }
  40% {
    transform: rotate3d(0, 0, 1, -6deg); }
  60% {
    transform: rotate3d(0, 0, 1, 3deg); }
  80% {
    transform: rotate3d(0, 0, 1, -3deg); } }
    
