@keyframes x-notification-drop-down {
  0%, 100% {
    transform: translateY(-100%);
  }
  10%, 90% {
    transform: translateY(0%);
  }
}

.x-global-notification {
  @include padding-multiplied(top, 3);
  @include padding-multiplied(right, 3);
  @include padding-multiplied(bottom, 3);
  @include padding-multiplied(left, 3);
  @include fix(top);
  @include z-index(global-notification);
  background-color: RoyalBlue; // TODO $col-link;
  color: white; // TODO use variable
  font-weight: bold;
  text-align: center;
  transform: translateY(-100%);

  &.-success { background-color: MediumSeaGreen; } // TODO use variable
  &.-warning { background-color: GoldenRod; } // TODO use variable
  &.-error { background-color: FireBrick; } // TODO use variable

  &.x-active,
  &.x-play-animation {
    animation: x-notification-drop-down 3000ms;
  }
}
