


.section-header {
  @include margin(bottom);
  border-bottom: 1px solid color(divider);

  h3 {
    font-weight: 100;
    font-size: 2rem;
  }
}


.example.-row {
  display: flex;
  flex-direction: row;
}

.grid-test {
  @include grid(container);

  & > * {
    height: 75px;
    background-color: rgba(black, 0.1);
    @include padding();
    box-shadow: 0 0 0 2px white inset;

    @include device(tablet) {
      &:nth-child(1) { @include grid(3 of 12); }
      &:nth-child(2) { @include grid(5 of 12); }
      &:nth-child(3) { @include grid(4 of 12); }
      &:nth-child(n+4):nth-child(-n+9) { @include grid(half); }
    }

    @include device(desktop) {
      &:nth-child(1) { @include grid(3 of 12); }
      &:nth-child(2) { @include grid(5 of 12); }
      &:nth-child(3) { @include grid(4 of 12); }
      &:nth-child(n+4):nth-child(-n+9) { @include grid(4); }
      &:nth-child(7) {
        @include grid-offset(left, third);
        @include grid-offset(right, third);
      }
    }
  }
}
