.x-global-header {
  @include dim(block);
  @include fix(top);
  @include z-depth(1);
  z-index: $z-index--global-header;
  display: block;
  background-color: white; // TODO replace with sensible variable name
}
