.x-row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;

  &.-even {
    & > * + * {
      margin-left: auto;
    }
  }

  &.-padded {
    @include padding(top, bottom);

    & > * + * {
      @include margin(left);
    }
  }
}
