 .TEST, .test { border: 1px dashed red !important; }

blockquote {
  @include padding-multiplied(left, 1.5);
  border-left: uom(0.5) solid color(focus);
}


.x-postit {
  @include margin();
  @include padding();
  @include z-depth(2);
  min: {
    width: uom(10);
    height: uom(10);
  }
  background-color: #f9f4d6; // TODO make var
}






.x-padding {
  @include padding();

  &.-backdrop {
    background-color: color(backdrop);
  }
}

.x {
  @include padding();
  background-color: color(app);

  & > *:not(.x-row) {
    display: block;
  }

  & > * {
    max-width: $max-page-width;
    margin: {
      right: auto;
      left: auto;
    }
  }

  & > * + * {
    @include margin(top);
  }

  &.-full-width > * {
    max-width: 100%;
  }

  &.-backdrop {
    background-color: color(backdrop);
  }

  &.-underlined {
    border-bottom: 1px solid color(divider);
  }

  &.-divided > * + * {
    @include padding(top);
    border-top: 1px solid color(divider);
  }

  // From the Department for the Bleeding Obvious:
  // Don't do this, developers. Just. Do. Not.
  style,
  script {
    display: none !important;
  }
}

.x-content {
  &:not(.-row) > * + * {
    @include margin(top);
  }

  &.-row {
    display: flex;
    flex-flow: row wrap;

    > * + * {
      @include margin(left);
    }
  }
}









.x-badge {
  @include dim(item);
  @include padding(left, right);
  background-color: red;
  color: white;
  display: inline-block;
  border-radius: uom();
}







.x-fieldset.-contain {
  @include margin-multiplied(bottom, 0.5);
  @include input-focus();
  border-radius: $border-radius;
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  border: 1px solid silver;
  background-color: white;

  & > .x-input {
    background-color: transparent;
  }

  & > * {
    @include no-input-focus;
    @include margin-multiplied(bottom, 0);
    border-width: 0;
    //background-color: transparent;

    &:last-child {
      @include margin-multiplied(right, 0);
    }
  }
}


.x-table {

  $hover-color: mix(beige, navajowhite); // TODO make global var
  $row-color: whitesmoke; // TODO make global var

  width: 100%;
  border: {
    collapse: collapse;
    spacing: 0;
  }

  th,
  td {
    font-weight: normal;
    text-align: left;
    border-width: 0;
  }

  tbody {
    tr {
      background-color: $row-color;
      border-bottom: 4px solid white;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  th {
    padding: 0.5rem 1rem;
    color: color(link);;
    font-size: 12px;
  }

  td {
    padding: 1rem;
  }
}

/*thead {
  font-size: 85%;
  color: color(link);
  border-bottom: 2px solid;

  tr:nth-child(1n) {
    background-color: transparent;
  }
}

tbody {
  border-bottom: 1px solid color(link);
}

th, td {
  text-align: left;
}

th, td {
  @include padding-multiplied(top, 0.5);
  @include padding-multiplied(right, 0.5);
  @include padding-multiplied(bottom, 0.5);
  @include padding-multiplied(left, 0.5);
}
tr:nth-child(2n) {
  background-color: whitesmoke;
}
tr:nth-child(2n-1) {
  background-color: white;
}*/

.x-table.x-active {

  &, tr, th, td { display: block; }
  thead { display: none; }
  tbody {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 0;
  }
  tr {
    @include margin-multiplied(right, 0.5);
    @include margin-multiplied(bottom, 0.5);
    @include padding(top, right, bottom, left);
    @include z-depth(1);
    transition: box-shadow timing();

    &:nth-child(1n) {
      background-color: white;
    }

    &:hover {
      @include z-depth(2);
    }
  }

  th {
    border-bottom: 1px solid #ccc;
  }
}






.x-header {
  @include padding(top, bottom);
  display: block;
}

.x-title {
  @include font-family(title);
  @include h(3);
  color: #2cb6c7; // TODO make var

  &.-larger { @include h(1); }
  &.-large { @include h(2); }
  &.-small { @include h(4); }
  &.-smaller { @include h(5); }
}

.x-page {

  &--header {
    @include padding-multiplied(top, 3);
    @include padding-multiplied(bottom, 2);
  }

  &--title {
    @include h(3);
    color: #2cb6c7; // TODO make var
  }

  &--subtitle {
    @include h(6);
    opacity: 0.6;
  }

  > * + * {
    margin-top: uom();
  }
}

body {
  background-color: color(app);
  color: color(text);
}

@include scrollbar();


.x-banner {
  @include padding(bottom);

  & > * {
    max-width: $max-page-width;
    margin: {
      right: auto;
      left: auto;
    }
  }

  &.-backdrop {
    background-color: color(backdrop);
  }
}
