
// color scheme
$application-color: #fff;
$text-color: #000;
$text-color-inverted: #fff;

$global-menu-background-color: #fff;
$global-menu-text-color: #333;

$button-and-link-color: #0b7da6; //#4472c4;
$highlight-color: #fbfcc5;

$tooltip-background-color: #000;
$tooltip-text-color: #fff;

$overlay-base-color: #000;

// grid
$number-of-columns-in-default-grid: 12;

// device sizes
$maximum-px-size-for-phone-view: 480;
$maximum-px-size-for-tablet-view: 1024;
$maximum-px-size-for-normal-desktop-view: 1280;

// transitions
$default-transition-time-in-ms: 350;

// input focus
$use-xdna-input-focus-styles: true;

// height of global menu
$global-menu-height: 4rem;


// fonts
$generic-font-family: sans-serif; // sans-serif | serif

$default-font-family: "Open Sans";
$title-font-family: "Open Sans Light";




// TODO review below

$max-page-width: 1200px;

$rem-base: 16px;

$base-font-size: 0.8125rem; // 13/16

$golden-ratio: 1.61803398875;

$font-increase-ratio: 1.25;

$side-menu-width: 300px;

$unit-of-measure: 1rem;

$default-padding: $unit-of-measure;
