
// color scheme
$application-color: #fff;
$text-color: #000;

$global-menu-background-color: #fff;
$global-menu-text-color: #333;

$button-and-link-color: #4472c4;
$highlight-color: #fbfcc5;

$tooltip-background-color: #000;
$tooltip-text-color: #fff;

$overlay-base-color: #000;

// grid
$number-of-columns-in-default-grid: 12;

// device sizes
$maximum-px-size-for-phone-view: 480;
$maximum-px-size-for-tablet-view: 1024;
$maximum-px-size-for-normal-desktop-view: 1280;

// transitions
$default-transition-time-in-ms: 350;

// input focus
$use-xdna-input-focus-styles: true;

// height of global menu
$global-menu-height: 4rem;
