.x-global-header {
  @include dim(block);
  @include fix(top);
  @include padding(top);
  @include padding-multiplied(bottom, 0.5);
  //@include z-depth(1);
  z-index: $z-index--global-header;
  background-color: white; // TODO replace with sensible variable name
  border-bottom: 1px solid color(divider);

  &--group {
    @include row;
    width: auto;

    &.-right {
      margin-left: auto;
    }
  }

  &--logo.-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
