.x-row {
  @include row;
  width: 100%;

  &.-wrap {
    flex-flow: row wrap;
  }

  &.-even {
    & > * + * {
      margin-left: auto;
    }
  }

  &.-padded {
    @include padding(top, bottom);

    & > * + * {
      @include margin(left);
    }
  }
}
