
$z-index--global-notification: 5600;
$z-index--dialog: 5500;
$z-index--overlay: 5400;
$z-index--side-menu: 5300;
$z-index--tooltip: 5200;
$z-index--global-menu: 5100;
$z-index--search: 5000;
