/// @name color
/// Creates SASS map from the colours set in _settings.scss or _defaults.scss
/// and returns colour based on key
/// @param {string} $color - The key for the value to return
/// @example
///   background-color: color(app);
///   @returns the colour in the map associated with the key 'app'

$color-scheme: (
  app: $application-color,
  text: $text-color,
  text-inverted: $text-color-inverted,
  link: $button-and-link-color,
  highlight: $highlight-color,

  global-menu: $global-menu-background-color,
  global-menu-text: $global-menu-text-color,

  tooltip: $tooltip-background-color,
  tooltip-text: $tooltip-text-color,

  overlay: $overlay-base-color,

  backdrop: mix($text-color, $application-color, 3%),
  shadow: $text-color,
  focus: mix($button-and-link-color, $application-color, 50%),
  divider: mix($text-color, $application-color, 15%),

  icx4-green: #70af47,
  icx4-red: #ee257b,
  icx4-blue: #2ec0cf,
  icx4-grey: #3a3a3c
);

@function color($color) {
  @if map-has-key($color-scheme, to-lower-case($color)) {
    @return map-get($color-scheme, to-lower-case($color));
  }
  @else {
    @return $color;
  }
}
