// application colours
$col-bg: whitesmoke; // #fff;
$col-fg: #000;

$col-shadow: $col-fg;

$col-highlight: #fbfcc5; // pale yellow

$col-overlay: $col-fg;

$col-link: mediumvioletred; //#4285F4; //#338fff;

$col-focus: hotpink; //#00aacc;
