.x-button {
  @include dim(input);
  @include row(nowrap);
  @include padding(right, left);
  @include link-style;
  @include input-focus();
  @include click;
  width: auto;
  width: fit-content;
  color: color(link);
  background-color: transparent;
  border: {
    color: currentColor;
    radius: $border-radius;
  }

  &:hover {
    text-decoration: none;
  }

  > *:not(:first-child) {
    @include padding-multiplied(left, 0.5);
  }

  &.-primary {
    color: color(app);
    background-color: color(link);
    border-color: color(link);
  }

  &.-secondary {
    padding: {
      right: #{$default-padding * 0.2};
      left: #{$default-padding * 0.2};
    }
    border-color: transparent;
  }

  &[disabled] {
    border-color: color(divider);
    color: color(divider);

    &,
    &:hover {
      @include input-focus(none);
    }
  }

  @for $i from 2 through 3 {
    &.-size-#{$i} {
      height: calc(#{$base-font-size} + #{uom($i)});
      padding: {
        top: #{uom($i * 0.5)};
        bottom: #{uom($i * 0.5)};
      }
    }
  }
}
