$help--color: color(app);

[data-help] {
  position: relative;
  border-bottom: 1px dashed color(link);
  cursor: pointer;

  &::after {
    content: "\02691";
    padding-left: 0.5em;
    color: color(link);
  }
}

.x-help {
  @include padding(top, right, bottom, left);
  @include z-index(tooltip);
  @include z-depth(2);
  display: block;
  width: uom(20);
  margin-bottom: uom(0.5);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $help--color;
  color: color(text);
  border-radius: $border-radius;
  text-align: left;

  &::after {
    @include z-index(tooltip);
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: {
      width: uom(0.5) uom(0.5) 0 uom(0.5);
      style: solid;
      color: $help--color transparent;
    }
  }
}
