.x-input {
  @include dim(input);

  &:focus {
    border-color: color(link);
  }

  @for $i from 2 through 3 {
    &.-size-#{$i} {
      height: calc(#{$base-font-size} + #{uom($i)});
      padding: {
        top: #{uom($i * 0.5)};
        bottom: #{uom($i * 0.5)};
      }
    }
  }
}

.x-file-input {
  @include row;

  &--label,
  &--upload {
    @extend .x-button;
    @extend .x-button.-primary;
  }

  &--input {
    @extend .screen-reader;
  }

  .x-file-input--upload {
    display: none;
  }

  &.-file {
    .x-file-input--label {
      background-color: color(app);
      color: color(link);
    }

    .x-file-input--upload {
      display: block;
    }
  }
}

input[type="checkbox" i].x-checkbox {
  width: uom(1.4);
  height: uom(1.4);
  border:1px solid red;

  &::after {
    content: " ";
  }

  &:checked::after {
  }
}

.x-label {
  @include dim(item);
  margin-bottom: 0;

  .x-checkbox + & {
    display: inline-block;
  }
}
