.x-input {
  @include dim(input);

  &:focus {
    border-color: color(link);
  }

  @for $i from 2 through 3 {
    &.-size-#{$i} {
      height: calc(#{$base-font-size} + #{uom($i)});
      padding: {
        top: #{uom($i * 0.5)};
        bottom: #{uom($i * 0.5)};
      }
    }
  }
}

.x-file-input {
  @extend .screen-reader;
}

input[type="checkbox" i].x-checkbox {
  width: uom(1.4);
  height: uom(1.4);
  border:1px solid red;

  &::after {
    content: " ";
  }

  &:checked::after {
  }
}

.x-label {
  @include dim(item);

  .x-checkbox + & {
    display: inline-block;
  }
}
