/// COLOR (function)
/// creates SASS map from the colours set in _settings.scss or _defaults.scss
/// and returns colour based on key
/// @author aepicos
/// @param {String} $color - the key for the value to return
/// @returns {Color} - hex color code from map
/// @requires
///   settings | helpers/variables/defaults
///   helpers/mixins/color-functions
/// @example sass - usage
///   background-color: color(app);
/// @example css - output
///   background-color: #fff;

$color-scheme: (
  app: $application-color,
  text: $text-color,
  text-inverted: $text-color-inverted,
  link: $button-and-link-color,
  highlight: $highlight-color,

  global-menu: $global-menu-background-color,
  global-menu-text: $global-menu-text-color,

  tooltip: $tooltip-background-color,
  tooltip-text: $tooltip-text-color,

  overlay: $overlay-base-color,

  backdrop: darker($application-color, 5%), //lighter(#c0dac8, 60%),
  shadow: $text-color,
  focus: lighter($button-and-link-color, 50%),
  divider: rgba(if(is-dark-color($application-color), white, black), 0.1),

  icx4-green: #70af47,
  icx4-red: #ee257b,
  icx4-blue: #2ec0cf,
  icx4-grey: #3a3a3c
);

@function color($color) {
  @if map-has-key($color-scheme, to-lower-case($color)) {
    @return map-get($color-scheme, to-lower-case($color));
  }
  @else {
    @return $color;
  }
}
