.x-button {
  @include dim(input);
  @include row();
  @include padding(right, left);
  @include link-style;
  @include input-focus();
  @include click;
  width: auto;
  width: fit-content;
  color: color(link);
  background-color: transparent;
  border: {
    color: currentColor;
    radius: $border-radius;
  }

  > *:not(:first-child) {
    @include padding-multiplied(left, 0.5);
  }

  &.-primary {
    color: color(app);
    background-color: color(link);
    border-color: color(link);
  }

  &.-secondary {
    padding: {
      right: #{$default-padding * 0.2};
      left: #{$default-padding * 0.2};
    }
    border-color: transparent;
  }

  &[disabled] {
    border-color: color(divider);
    color: color(divider);

    &,
    &:hover {
      @include input-focus(none);
    }
  }
}
