.x-input {
  @include dim(input);

  &:focus {
    border-color: color(link);
  }
}

input[type="file"] {
  @extend .screen-reader;
}

input[type="checkbox" i].x-checkbox {
  width: uom(1.4);
  height: uom(1.4);
  border:1px solid red;

  &::after {
    content: " ";
  }

  &:checked::after {
  }
}

.x-label {
  @include dim(item);

  .x-checkbox + & {
    display: inline-block;
  }
}
