$x-spinner--width: 4px;
$x-spinner--diameter: 5rem;
$x-spinner--timing: 1500ms;
$x-spinner--color: color(link);

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes x-spinner-before {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

@keyframes x-spinner-after {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}


.x-spinner {
  position: relative;
  animation: rotate $x-spinner--timing linear infinite;

  &,
  &::before,
  &::after {
    box-sizing: content-box;
    display: block;
    width: $x-spinner--diameter;
    height: $x-spinner--diameter;
    border: {
      width: $x-spinner--width;
      style: solid;
      color: transparent $x-spinner--color transparent transparent;
      radius: 50%;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -#{$x-spinner--width};
    left: -#{$x-spinner--width};
  }

  &::before {
    animation: x-spinner-before $x-spinner--timing ease-in-out infinite alternate;
  }

  &::after {
    animation: x-spinner-after $x-spinner--timing ease-in-out infinite alternate;
  }

  &.-large {
    &,
    &::before,
    &::after {
      width: #{$x-spinner--diameter * 1.5};
      height: #{$x-spinner--diameter * 1.5};
    }
  }

  &.-small {
    &,
    &::before,
    &::after {
      width: #{$x-spinner--diameter / 2};
      height: #{$x-spinner--diameter / 2};
    }
  }

  &.-mini {
    &,
    &::before,
    &::after {
      width: uom();
      height: uom();
      border-width: #{$x-spinner--width / 2};
    }

    &::before,
    &::after {
      top: -#{$x-spinner--width / 2};
      left: -#{$x-spinner--width / 2};
    }
  }
}
