/// DEVICE (mixin)
/// create a media query from device size
/// @author aepicos
/// @param {string} $min-width - device name for minimum size
/// @param {string} $max-width [false] - device name for maximum size
/// @returns @media query with {min-width (| max-width)}
/// @requires
///   _settings.scss | helpers/variables/_defaults.scss
///   helpers/variables/_devices.scss
/// @example sass - usage
///   @include device(phone, tablet) {
///     ...
///   }

@mixin device($min-width, $max-width: false) {
  $request-min: false;
  $request-max: false;
  $min: 0px;
  $max: false;

  @if map-has-key($devices, $min-width) {
    $request-min: map-get($devices, $min-width);

    @if map-has-key($request-min, from) {
      $min: map-get($request-min, from);
    }
  }

  @if $max-width {
    @if map-has-key($devices, $max-width) {
      $request-max: map-get($devices, $max-width);

      @if map-has-key($request-max, to) {
        $max: map-get($request-max, to);
      }
    }
    @media (min-width: $min) and (max-width: $max) { @content; }
  }
  @else {
    @media (min-width: $min) { @content; }
  }
}
