/// DIM (mixin)
/// sets basic styles to an element
/// based on type requested
/// @author aepicos
/// @param {string} $type []{block|item|input} - requested dimension type
/// @requires
///   mixins/margin-multiplied
///   mixins/padding-multiplied
///   mixins/input-focus
/// @exmaple sass - usage
///   input {
///     @include dim(input);
///     ...
///   }

@mixin dim($type) {
  @if $type == block {
    @include margin-multiplied(bottom, 0.5);
    @include padding-multiplied(top, 0.5);
    @include padding(left);
    display: block;
  }

  @if $type == item or $type == input {
    @include margin-multiplied(right, 0.5);
    @include margin-multiplied(bottom, 0.5); // TODO review
    // @include padding-multiplied(top, 0.5);
    // @include padding-multiplied(bottom, 0.5); // select-boxes on mac ignores padding!
    display: block;
    // work-around for padding oddity on mac select-boxes
    height: calc(#{$base-font-size} + #{uom()});
    min-height: uom();
    border: {
      width: 1px;
      style: solid;
    }
    line-height: calc(#{$base-font-size} + #{uom()});
  }

  @if $type == item {
    border-color: transparent;
  }

  @if $type == input {
    @include padding-multiplied(right, 0.5);
    @include padding-multiplied(left, 0.5);
    @include input-focus();
    border: {
      color: silver; // TODO change to variable
      radius: $border-radius;
    }
    background-color: color(app);
  }
}
