/// FIX (mixin)
/// applies a pre-defined fixed position to an element
/// @author aepicos
/// @param {string} $arg []{center|cover|top|bottom|left|right}
/// @example sass - usage
///   @include fix(center);
///     places item dead center
///     note: this uses transform to position the element
///     if possible use mixins/center-content on parent element instead
///   @include fix(cover);
///     fixed to cover entire window
///   @include fix(top);
///     fixed left-to-right on the top of the window
///   @include fix(bottom);
///     fixed left-to-right on the bottom of the window
///   @include fix(left);
///     fixed top-to-bottom on the left side of the window
///   @include fix(right);
///     fixed top-to-bottom on the right side of the window

@mixin fix($arg) {
  position: fixed;

  @if $arg == center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  @if $arg == cover or $arg == top or $arg == left or $arg == right {
    top: 0;
  }

  @if $arg == cover or $arg == top or $arg == bottom or $arg == right {
    right: 0;
  }

  @if $arg == cover or $arg == bottom or $arg == left or $arg == right {
    bottom: 0;
  }

  @if $arg == cover or $arg == top or $arg == bottom or $arg == left {
    left: 0;
  }
}
