$h6: $base-font-size;
$h5: $h6 * $font-increase-ratio;
$h4: $h5 * $font-increase-ratio;
$h3: $h4 * $font-increase-ratio;
$h2: $h3 * $font-increase-ratio;
$h1: $h2 * $font-increase-ratio;

$h-sizes: $h1 $h2 $h3 $h4 $h5 $h6;

@mixin h($size: 1) {
  @include font-family(title);
  font-size: nth($h-sizes, $size);
}
